<div class="card show-card" style="width: 18rem;">
  <img class="card-img-top" src='<%= url_for(@image.photo) %>' alt="user image">
  <div class="card-body">
    <h5 class="card-title"><%= @image.title %></h5>
    <p class="card-text"><%= @image.body %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% if @image.comments.length > 0 %>
      <li class="list-group-item">Rated <%= @image.average_rating %>/5 based on <%= @image.comments.length %> comments</li>
    <% else %>
      <li class="list-group-item"> This image has not been rated yet</li>
    <%end %>
  </div>
</div>
<%= render "comments/form", image_id: params[:id] %>
<h2 class="comment-header">See what others are saying...</h2>
<div class="comments-container">
  <ul class="comments-list">
    <% @image.comments.each do |comment| %>
      <li>Comment: <%= comment.body %> </li>
      <li>Rating: <%= comment.rating %> </li>
      <li>Posted by: <%= User.find_by_id(comment.user_id).username %> </li>
      <li>Posted on: <%= comment.created_at %> </li>
      <hr className="comment-divider">
    <% end %>
  </ul>
</div>
