<div class="card show-card" style="width: 18rem;">
  <img class="card-img-top" src='<%= url_for(@image.photo) %>' alt="user image">
  <div class="card-body">
    <h5 class="card-title"><%= @image.title %></h5>
    <p class="card-text"><%= @image.body %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% if @image.comments.length > 0 %>
      <li class="list-group-item">Rated <%= @image.average_rating %>/5 based on <%= @image.comments.length %> comments</li>
    <% else %>
      <li class="list-group-item"> This image has not been rated yet</li>
    <%end %>
  </div>
</div>
<%= render "comments/form", image_id: params[:id] %>
